.table_container {
    width: 100%;
    margin: auto;
    font-size: 12px;

    a{
        color: #000;
        text-decoration: underline;
        
        &[target=_blank]::after { 
            padding-left: 1px;
            content: "\f08e";
            font: normal normal normal 10px/1 FontAwesome; 
         } 

        &:hover{
            color: #222;
        }
    }

    .click_filter span{
        text-decoration: underline dotted;
        cursor: pointer;
    }
    .clearSearch{
        position: absolute;
        z-index: 1;
        top:120px;
        border: none;
        background: none;
        font-size: 24px;
        margin-left: 10px;
        &:focus{outline:none}
    }
    .max-height{
        display: block;
        min-height:55px;
        height: 55px;
        overflow-y: auto;
        width: 100%;
        padding-right: 5px;
    }
    tr{
        i{
            cursor: pointer;
            margin-right: 3px;
            &.fa-plus{display:inline}
            &.fa-minus{display:none}
        }
        &.active{
            i{
                &.fa-plus{display: none;}
                &.fa-minus{display: inline;}
            }
            .max-height{
                height:auto;
            }
        }
    }
        
}

.min_header_description {
    min-width: 150px;
}
.header_description {
    min-width: 250px;
}
.extra_header_description {
    min-width: 350px;
}

.bootstrap-table .fixed-table-container .table td, .bootstrap-table .fixed-table-container .table th{
    vertical-align: top;
}

 .bootstrap-table .fixed-table-toolbar .search{
    width: calc(100% - 500px);
    float: left !important;

    input{
        height: 69px;
        margin-top: -30px;
        font-size: 25px;
        padding-left: 45px;
    }
}